.id_image {
    width: 10%;
    height: 10%;
    margin : 10px;
}

#canvasDiv{
    position: relative;
    border: 2px dashed grey;
    height:200px;
    margin-bottom: 30px;
}

a {
    color:black;
}
a:hover {
    text-decoration: none;
}

#login-button{
    margin-top: 30px;
    width: 100px;
}

#login-form {
    max-width: 700px;
}

#navbarSupportedContent {
    margin-left: 50px;
}

#content-inside {
    max-width: 800px;
}

#terms{
    max-height: 150px;
    overflow-x: scroll;
}

#logo-zoltek {
    width: inherit;
}



  #video_container {
    width: 100%;
    margin-top: 2%;
  }

  .add-side {
    color: green;
    margin-right: 23px;
  }

 .add-side-span {
    vertical-align: super;
    margin-left: 6px;
    font-size: 13px;
 } 


.add-side:hover{
    color:lightgreen;
}

.required-field{
font-size: 14px;
color: red;
font-style: italic;
}
.warning {
    color : #EED202;
}

.good {
    color : #99cc33  ;
}

.bad {
    color: #cc3300
}

i{
    padding-right: 15px;
}

.table-card {
    margin-top: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.section_title {
    text-align: center;
}

.section_subtitle {
    text-align: center;
    color: gray;
}